@import url('normalize.css');
@import url('skeleton.css');
@import url('https://fonts.googleapis.com/css?family=Raleway:100,400');


body {
  background: #000428;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #004e92, #000428);  
  background: linear-gradient(to right, #004e92, #000428); 
}
header {
  margin: 30px 0;
}
h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  color: white;
  text-align: center;
  font-size: 4.8rem!important;
}
